.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___root img {
  max-height: 290px;
}
.fighter-preview___root h2 {
  color: whitesmoke;
}
.fighter-preview___root span {
  color: whitesmoke;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
